<div class="container profilePage">
	<h2 class="welcome">Welcome back, <%= currentUser.name %>!</h2>

	<a href="/profile/edit" class="btn btn-info submitBtn">EDIT PROFILE</a>

	<div id='foodList'>
	</div>
	<% for (let i = currentUser.food.length-1; i >= 0; i--) { %>
		<div class="container nutrientBox">
		    <div class="row picAndInfo">
		      <div class="col-sm-3">
		        <img class="pic" src=<%= currentUser.food[i].photo %> width="150"></img>
		      </div>
		      <div class="col-sm-9 picInfo">
		        <ul>
		          <li><h2 class="mx-auto"><%= currentUser.food[i].food_name %></h2></li>
		          <li><span class="foodInfo">Quantity: <%= currentUser.food[i].serving_qty %> | Serving Unit: <%= currentUser.food[i].serving_unit %> | Serving Weight: <%= currentUser.food[i].serving_weight_grams %>g</span></li>
		        </ul>
		        <hr>
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-sm-6 col-md-3 extraInfo">
		        <ul>
		          <li>Calories: <%= currentUser.food[i].calories %></li>
		          <li>Protein: <%= currentUser.food[i].protein %></li>
		        </ul>
		      </div>
		      <div class="col-sm-6 col-md-3 extraInfo">
		        <ul>
		          <li>Total Carbs: <%= currentUser.food[i].total_carbs %></li>
		          <li>Fiber: <%= currentUser.food[i].fiber %></li>
		          <li>Sugar: <%= currentUser.food[i].sugars %></li>
		        </ul>
		      </div>
		      <div class="col-sm-6 col-md-3 extraInfo">
		        <ul>
		          <li>Total Fat: <%= currentUser.food[i].total_fat %></li>
		          <li>Saturated Fat: <%= currentUser.food[i].saturated_fat %></li>
		          <li>Cholesterol: <%= currentUser.food[i].cholesterol %></li>
		        </ul>
		      </div>
		      <div class="col-sm-6 col-md-3 extraInfo">
		        <ul>
		          <li>Sodium: <%= currentUser.food[i].sodium %></li>
		          <li>Potassium: <%= currentUser.food[i].potassium %></li>
		        </ul>
		      </div>
		    </div>
		    <div class="row nutrientButtons">
				<div class="col-sm-9"></div>
		    	<div class="col-sm-1"><button data-id=<%= currentUser.food[i].id %> type="button" name="button" class="btn btn-danger deleteFood">Remove</button></div>
		    	<div class="col-sm-2"></div>
	    	</div>
	  	</div>
	<% } %>
</div>